/***************************************************
* Project name     : Criativo.                     *
* Author           : Islam.                        *
* Version          : 1.0.                          *
* File description : Media queries file.           *
***************************************************/
/* ------------------- Small devices (landscape phones, 576px and up). ------------------- */
@media (min-width: 576px) {
	.teams .boxes {
		grid-template-columns: repeat(auto-fit, minmax(488px, 1fr));

	}
 .teams .boxes .box {
		flex-direction: row;
		align-items: flex-start;
		text-align: left;
 }
 .social-list {
 	justify-content: flex-start;
 }
.testimonials-person {
	justify-content: space-between;
}
}
/* ------------------- Medium devices (tablets, 768px and up). ------------------- */
@media (min-width: 768px) {
	.subheading,
	.description {
		font-size: 1.6rem;
	}
	.heading {
		font-size: 5.2rem;
	}
.latest .container {
	display: grid;
	grid-template-columns: repeat(2, minmax(288px, 1fr));
}
}
/* ------------------- Large devices (desktops, 992px and up). ------------------- */
@media (min-width: 992px) {
	.main-header .container {
		justify-content: space-between;
	}
	.main-header .container .main-logo {
		flex: 0;
	}
	.main-header .container .menu-btn {
		display: none;
	}
	.main-header .container .main-nav-list {
		display: flex;
	}
	.hero {
		height: calc(100vh - 80px);
	}
	.statistics .boxes {
	 	grid-template-columns: repeat(auto-fit, minmax(188px, 1fr));
	 	justify-content: center;
	}
	.latest .container {
		grid-template-columns: repeat(3, 1fr);
	}
.latest .container .header {
	grid-column: 1 / span 2;
}
.latest .container .description {
	max-width: 777px;
}
}
/* ------------------- X-Large devices (large desktops, 1200px and up). ------------------- */
@media (min-width: 1200px) {
	.services .container,
	.about .container {
			display: flex;
			gap: 2.4rem;
			justify-content: space-between;
			align-items: center;
		}
	.services .boxes {
		 grid-template-columns: repeat(2, minmax(288px, 1fr));
	}
.experience .header {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 3.2rem;
}
	.testimonials .container {
		display: flex;
	}
.contact .container {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.contact .form {
	order: 0;
	flex: 1;
	max-width: 606px;
}
.contact .info {
	flex: 1;
	order: 1;
}
}
/* ------------------- XX-Large devices (larger desktops, 1400px and up). ------------------- */
@media (min-width: 1400px) {
}
